.containerFullScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
    min-height: 100vh;
    width: 100vw;

    background-color: rgba(44, 49, 55, 0.5);
}

.containerFullScreenBackground {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 15% 1fr 1fr 5vh;
    min-height: calc(110vh - 48px);
    width: 100vw;

    background-color: #bcebcb;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.backgroundImage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/ariana-prestes-RwNd3xQhjNs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.goal {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: end;
    justify-self: center;
    align-self: center;
    height: min-content;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    z-index: 1;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.goal img {
    width: 500px;
}

.goal h2 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.goal p {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
}

.detailedGoal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: end;

    text-align: center;
    align-self: center;

    margin-left: 50px;
    margin-right: 50px;
}

.detailedBITE{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: end;

    text-align: center;
    align-self: center;

    margin-left: 50px;
    margin-right: 50px;
}

.detailedGoal h2, .detailedBITE h2 {
    font-size: 2em;
    color: darkslategray;
    margin-top: 0;
    margin-bottom: 50px;
}

.detailedGoal p, .detailedBITE p {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1.7;
    margin: 0 0 10px;
}

.titleSingle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    align-self: end;
    justify-self: center;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.infoBox {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;

    text-align: center;
    align-self: center;

    max-width: 100%;


    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.infoBox h2 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.infoBox p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
}

.infoBox p.thin {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 25px;
    margin: 30px;
    font-variant: all-small-caps;
}

@media screen and (max-width: 900px) {
    .containerFullScreenBackground {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5vh 1fr 1fr 5vh;
    }

    .containerFullScreen {
        grid-template-rows: 5% 1fr 5% 1fr;
    }

    .goal img {
        width: 400px;
    }

    .goal {
        grid-column-start: 1;
        grid-column-end: end;
        justify-self: center;
        align-self: center;
    }

    .goal h2 {
        font-size: 2.5em;
    }

    .goal p {
        font-size: 30px;
    }

    .detailedGoal {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 2;
        grid-row-end: 3;

        align-self: center;

        margin-left: 15px;
        margin-right: 15px;
    }

    .detailedGoal p, .detailedBITE p {
        letter-spacing: 0;
        line-height: 1.5;
    }

    .detailedBITE {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 3;
        grid-row-end: end;

        align-self: center;

        margin-left: 15px;
        margin-right: 15px;
    }

    .infoBox {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .infoBox h2 {
        font-size: 2.5em;
    }

    .infoBox p {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 1.25;
    }
}

@media screen and (max-width: 480px) {
    .goal img {
        width: 350px;
    }

    .goal h2 {
        font-size: 2em;
    }

    .goal p {
        font-size: 20px;
    }

    .infoBox h2 {
        font-size: 2.5em;
    }

    .infoBox p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.25;
    }
}

@media screen and (max-width: 400px) {
    .goal img {
        width: 300px;
    }

    .goal h2 {
        font-size: 1.7em;
    }

    .goal p {
        font-size: 20px;
    }

    .infoBox h2 {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 640px) {
    .containerFullScreen {
        min-height: 100vh;
    }
}

@media screen and (max-width: 350px) {
    .goal img {
        width: 250px;
    }

    .goal p {
        font-size: 18px;
    }

    .infoBox p.thin {
        font-size: 18px;
    }
}