/* --- DEFINING BACKGROUND WITH COLOR OVERLAY --- */
html {
    background-image: url("../images/ariana-prestes-RwNd3xQhjNs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    background-color: rgba(44, 49, 55, 0.5);
    margin-top: 48px;
}

/* --- DEFINING DIFFERENT CONTAINER PARAMETERS --- */
.flexFullScreen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100vw;

    text-align: center;
}

.smaller {
    min-height: 50vh;
}

.topdownPadding {
    padding-top: 50px;
    padding-bottom: 100px;
}

.shadow {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.withBackground {
    background-color: #bcebcb;
}

/* --- DIFFERENT FLEX ELEMENTS --- */
/* 1. Logo and presentation text */
.presentation img {
    width: 40%;
}

.presentation h2 {
    font-size: 3.5vw;
    text-align: center;
}

.presentation h2 a {
    text-decoration: none;
    color: white;
}

.presentation p {
    color: white;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
}

/* 2. Detailed info-boxes */
.infoBox {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.infoBox h2 {
    font-size: 2em;
    color: darkslategray;
    margin-top: 50px;
    margin-bottom: 50px;
}

.infoBox p {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1.7;
    margin: 0 0 10px;
}

/* 3. Short description of solution */
.solution {
    margin: 10%;
}

.solution h2 {
    font-size: 2.9em;
    color: white;
    text-align: center;
}

.solution p, .solution p a {
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
}

.solution p.thin {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 2.025vw;
    margin: 30px;
    font-variant: all-small-caps;
}

/* --- SCREEN ADJUSTMENTS --- */
@media screen and (max-width: 800px) {
    /* 1. Logo presentation and text */
    .presentation img {
        width: 60%;
    }

    .presentation h2 {
        font-size: 4.5vw;
    }

    .presentation p {
        font-size: 3.5vw;
    }

    /* 2. Detailed info-boxes */
    .infoBox {
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* 3. Short description of solution */
    .solution {
        margin-left: 5%;
        margin-right: 5%;
    }

    .solution h2 {
        font-size: 2.5em;
    }

    .solution p, .solution p a {
        font-size: 2vw;
    }

    .solution p.thin {
        font-size: 2.25vw;
    }
}

@media screen and (max-width: 640px) {
    body {
        margin: 0;
    }

    /* 1. Logo presentation and text */
    .presentation img {
        width: 80%;
    }

    .presentation h2 {
        font-size: 8vw;
    }

    .presentation p {
        font-size: 5vw;
    }

    /* 2. Detailed info-boxes */
    .infoBox {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .infoBox p {
        letter-spacing: 0;
        line-height: 1.5;
    }

    /* 3. Short description of solution */
    .solution p, .solution p a {
        letter-spacing: 0;
        font-size: 3.8vw;
    }

    .solution p.thin {
        font-size: 4.75vw;
    }
}