.backgroundImage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/ariana-prestes-RwNd3xQhjNs-unsplash.jpg");
    background-size: cover;
    background-position: center;

    z-index: -1;
}

.h1OS {
    color: white;
    text-align: center;
    font-size: 5em;
    margin-top: 48px;
    padding: 48px 10px 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    align-self: center;
}

.grid-container {
    display: grid;
    min-height: calc(100vh + 48px);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 48px;
    grid-template-rows: 50px 250px 50px 400px 200px 48px;
}

.TitleInfo {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
    border-radius: 5px;

    background-color: transparent
}
.TitleInfo h2 {
    margin-top: 2px;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));

}
.TitleReward {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
    border-radius: 5px;

    background-color: transparent;
}
.rewardtitle {
    margin-top: 5px;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.ContainerInfo {
    height:500px;
   max-height: 500px;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
    border-radius: 5px;

    background-color:white;
    padding: 20px;
    font-size: 1.2em;
}
.ContainerReward {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: end;
    margin: 10px;
    border-radius: 5px;
    background-color: transparent;
}
.dropdown {
    margin: 2px;
    border-radius: 5px;
    background-color: #BCEBCB;
    color: #000000;
    cursor: pointer;
    padding:  18px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .dropdown:hover {
    background-color: #93B48B;
}
.dropdown_input {
    display: none;
}
.dropdown_input:not(:checked) + .panel {
    margin: 2px;
    border-radius: 5px;
    padding: 0 18px;
    background-color: #F7FFF6;
    display: none;
    overflow: hidden;
}

.panel {
    background-color: #F7FFF6;
    border-radius: 5px;
    margin: 2px;
}

.panel p {
    padding-left: 20px;
    padding-right: 5px;
}

.panel a {
    color: #000000;
}

.emoji {
    margin-bottom: -3px;
}

/* dropdown boxes end */

.Title-app {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
    border-radius: 5px;

    background-color: transparent;
}
.Title-app h2 {
    margin-top: 2px;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}
.ContainerInfoApp {
    height:500px;
    max-height: 590px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end:end;
    margin: 10px;
    border-radius: 5px;

    background-color: white;
    padding: 20px;
    font-size: 1.2em;
  
}


.ContainerInfoApp p{
text-align: center;
}
.ContainerImgApp {
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    margin: 10px;
    border-radius: 5px;
    justify-self: center;

    background-color: transparent; 
}

.ImgApp {
    width: 49%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

@media screen and (max-width: 1170px) {
    .grid-container {
        margin-top: 48px;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 300px 50px 300px 300px 48px;
    }

    @media screen and (max-width: 880px) {
        .grid-container {
            margin-top: 48px;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50px 400px 50px 300px 300px 48px;
        }

        @media screen and (max-width: 800px) {
            .grid-container {
                margin-top: 48px;

                grid-template-columns: 1fr;
                grid-template-rows: 50px 1fr 50px 1fr 1fr 50px 1fr 1fr 48px;
            }

            .TitleInfo {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .ContainerInfo {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            .Title-app {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 3;
                grid-row-end: 4;
            }

            .ContainerImgApp {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 5;
                grid-row-end: 5;
            }

            .ContainerInfoApp {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 4;
                grid-row-end: 4;

                height:430px;
                max-height:500px;
                max-width:auto;
            }

            
            .TitleReward {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 6;
                grid-row-end: 7;
            }

            .ContainerReward {
                grid-column-start: 1;
                grid-column-end: end;
                grid-row-start: 7;
                grid-row-end: end;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .h1OS {
        margin-top: 72px;
    }
}