body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/* --- NAVBAR --- */
.navbar-normal {
    overflow: hidden;
    background-color: yellow;
    width: 100%;
    height: 48px;
    text-align: center;
}

/* Links inside the navbar */
.navbar-normal a {
    display: inline-block;
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-normal .logo {
    position: absolute;
    left: 0;
    top: -2px;
    height: 50px;
    margin-left: 20px;
}