.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 50px 1fr 50px;
    gap: 15px;
    grid-template-areas:
    "Title Title Title"
    "Containerbox Containerbox ContainerSide"
    "Containerbox Containerbox ContainerSide"
    "Title-app Title-app ContainerSide"
    "Containerbox2 Containerbox3 ContainerSide"
    "FOOTER FOOTER FOOTER";
}
.Title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". . .";
    grid-area: Title;
}
.Containerbox { grid-area: Containerbox; }
.ContainerSide { grid-area: ContainerSide; }
.FOOTER { grid-area: FOOTER; }
.Containerbox2 { grid-area: Containerbox2; }
.Containerbox3 { grid-area: Containerbox3; }
.Title-app { grid-area: Title-app; }