body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/* --- NAVBAR --- */
/* NORMAL SCREEN */
.navbar-normal {
    overflow: hidden;
    background-color: yellow;
    width: 100%;
    height: 48px;
    text-align: center;
}

/* Links inside the navbar */
.navbar-normal a {
    display: inline-block;
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Removes double padding on logo */
.navbar-normal a.noPadding {
    padding: 0;
}

.navbar-normal .logo {
    position: absolute;
    left: 0;
    top: -2px;
    height: 50px;
    margin-left: 20px;
}

/* Hide the phone version on desktop */
.navbar-phone-top, .navbar-phone-bottom {
    display: none;
}

/* PHONE SCREEN */
@media screen and (max-width: 640px) {
    /* Hide the desktop version on phone */
    .navbar-normal {
        display: none;
    }

    /* Enable phone version */
    .navbar-phone-top {
        display: inline-block;
        overflow: hidden;
        background-color: yellow;
        width: 100%;
        height: 48px;
        text-align: center;
    }

    .navbar-phone-top .logo {
        height: 50px;
    }

    .navbar-phone-bottom {
        display: inline-block;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: yellow;
        width: 100%;
        height: 48px;
        text-align: center;
    }

    .navbar-phone-bottom a {
        display: inline-block;
        font-size: 1em;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Removes double padding on logo */
    .navbar-phone-top a.noPadding {
        padding: 0;
    }
}